body {
    background: url("../img/background/principal/backbround-principal.png"), lightgray -0.07px -364.794px / 100.01% 131.79% no-repeat;
    background-color: #08080C;
    
    margin: 0;
    background-size: cover; /* Hace que la imagen de fondo cubra todo el fondo */
    font-family: 'Inter', sans-serif; /* Aplica la fuente Inter al cuerpo del documento */
    font-size: 10px;
}
@media (max-width: 800px) {
    body {
        background-position: center; /* Centra la imagen de fondo solo en tamaños de pantalla menores a 800px */
        
    }
}
/* conetent page*/
.content-page {
	min-height: calc(100vh - 3.6em - 3.6em) !important;
}
#navbar-menu {
    margin-top: 10px;
    font-size: 1.6em;
}

#navbar-menu .navbar-nav .nav-link {
    color: #FFF !important;
}

#navbar-menu.navbar-light .navbar-toggler {
    color: #fff;
    background-color: #fff;
}

#navbar-menu .navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: #08080c9d; /* Establece el fondo del menú desplegable como transparente */
    border: none; /* Quita el borde del menú desplegable */
}

#navbar-menu .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
    color: #fff !important; /* Cambia el color del texto en el menú desplegable */
}
#navbar-menu .dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
    background-color:  transparent !important;  /* Cambia el color a transparente de la propiedad active y hover en el item */
}
.title_section{
    font-size: 2.4em;
    color: #fff;
    margin-left: 44%;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}
.__section-destacados{
  background: rgba(124, 124, 124, 0.20);
  padding-top: 8em ;
  padding-left: 12em;
  padding-right: 12em;
}
.__card-destacado{
    width:35em;
    height: 33.1em;
}
.__card-destacado_medio{
    margin-top: -39px;
    width:35.2em;
    height: 40.3em;
}
.img-card-float{
    position: relative;
    width:100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-right: 1em;
    margin-top: -2em;
}
.img-card-float>img{
    position: absolute;
    margin-top: -60px;
    margin-left: 18%;
}
.img-lata{
    animation: moverLATA 3s infinite; /* Ajusta la duración de la animación según tus necesidades */
}
.img-botella{
    animation: rotarBOTELLA 7s infinite; /* Ajusta la duración de la animación según tus necesidades */
}
/* animaciones*/
/* */
@keyframes moverLATA {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px); /* Cambia la distancia y dirección del movimiento */
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes rotarBOTELLA {
    0% {
        transform: rotate(0deg);
        transform: translateY(10px);
    }
    40% {
        transform: rotate(50deg); /* Rotar 50 grados */
        transform: translateY(20px);
    }
    50% {
        transform: rotate(55deg);
    }
    100% {
        transform: rotate(0deg);
        transform: translateY(0px);
    }
}
/* MEDIDAS RESPONSIVE */
/*
@media (max-width: 800px){
    .__section-destacados {
        padding-left: 0em;
    }
      .__card-destacado{
        width:10.9em;
        height: 10.2em;
    }
    .__card-destacado_medio{
        width:10.9em;
        height: 12.5em;
    }
}*/
/* big falla*/

@media (min-width: 1335px) { /* Tamaño de dispositivos extra grandes (escritorios grandes) */
    /* Reglas CSS para este tamaño */
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { /* Tamaño de dispositivos extra grandes (escritorios grandes) */
    /* Reglas CSS para este tamaño */
}
/* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) { /* Tamaño de dispositivos grandes (escritorios) */
    /* Reglas CSS para este tamaño */
    .__section-destacados {
        padding-left: 0em;
    }
      .__card-destacado{
            width: 23em;
    height: 26em;
    }
    .__card-destacado_medio{
        margin-top: -25px;
        width: 23.2em;
        height: 30.3em;
    }
  }

/* Medium devices (tablets, 768px and up) */
  @media (min-width: 769px) and (max-width: 991.98px) { /* Tamaño de dispositivos medianos (tablets) */
    /* Reglas CSS para este tamaño */
    .__section-destacados {
        padding-left: 0em;
    }
    .__card-destacado{
        width: 20em;
        height: 20em;
    }
    .__card-destacado_medio{
        margin-top: -25px;
        width: 20em;
        height: 25em;
    }
    
}
  /* Extra small devices (portrait phones, less than 576px) */
    /* Small devices (landscape phones, 576px and up) */
      @media (min-width: 576px) and (max-width: 768px) { /* Tamaño de dispositivos pequeños */
        /* Reglas CSS para este tamaño */
        .__section-destacados {
            padding-left: 0em;
        }
          .__card-destacado{
            width:16em;
            height: 16em;
        }
        .__card-destacado_medio{
            width:16em;
            height: 21em;
        }
      }

  @media (max-width: 575.98px) { /* Tamaño máximo para dispositivos muy pequeños */
      /* Reglas CSS para este tamaño */
      .__section-destacados {
        padding-left: 0em;
    }
      .__card-destacado{
        width:10.9em;
        height: 10.2em;
    }
    .__card-destacado_medio{
        width:10.9em;
        height: 12.5em;
    }
   
  }
     /*=========================================================*/
 /* Footer*/

 #footer {
	/*position: fixed;*/
	left: 0;
	width: 100%;
	bottom: 0 !important;
    padding-top: 1.6em;
	background: rgba(124, 124, 124, 0.20);
	font-family: "Open Sans", sans-serif;
}
/* Colores de iconos*/
.__footer-titles{
    font-size: 2.4em;
    color: #fff;
}
.footer-ul {
	list-style-type: none;
	padding-left: 0px;
    text-decoration: none !important;
    
}
.footer-ul li {
	line-height: 29px;
	font-size: 1.6em;
}
.footer-ul li a {
	color: #a0a3a4;
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
.footer-ul i {
	margin-right: 1em;
}
.footer-ul li a:hover {
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
	color: #ff670f;
}

.fb-page a:hover {
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
	color: whitesmoke !important;
}

.icon-ul {
	list-style-type: none !important;
	margin: 0px;
	padding: 0px;
}
.icon-ul li {
	line-height: 75px;
	width: 100%;
	float: left;
}
.icon {
	float: left;
	margin-right: 5px;
}

.copyright {
	min-height: 40px;
}
.copyright p {
	text-align: left;
	color: #fff;
	margin-bottom: 0px;
}

.post p span {
	display: block;
	color: #fbfbfb;
}
.bottom_ul {
	list-style-type: none;
	float: right;
	margin-top: 8em !important;
}
.bottom_ul li {
	float: left;
	line-height: 40px;
}
.bottom_ul li:after {
	content: "/";
	color: #fff;
	margin-right: 8px;
	margin-left: 8px;
}
.bottom_ul li a {
	color: #fff;
	font-size: 1.6em;
}
.rrss{
    display: flex;
}
.btn-rrss{
    font-size: 3.2em !important;
    margin: 0.5em 0.2em 0.5em 0.5em;
    text-decoration: none;
    color: #fbfbfb;

}
.copyright-end{
    padding: 1.6em;
    font-size: 2.4em;
}